body{
    background-image: url("../img/pattern.jpg");
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: -9px;
    
}

nav{
    /* position : fixed; */
    top :0px;
    right : 0px;
    left : 0px;
    height :50px;
    }

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    padding-right: 10px;
}

section{
    background-color: white;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px; 
    margin-bottom: 30px;
    padding: 10px
}

article {
    border-bottom: black solid 3px;
    margin-left: 20px;
    margin-right: 20px;
    
}

a{
    text-decoration: none;
}

h1{
    padding-top: 40px;
    text-align: center;
}

footer{
    background-color: black;
    padding: 2px;
    margin: -8px;
}

h5{
    color: white;
    text-align: center;
}